@page "/expenses"
@using FinancialManagementApp.Components;

<h2>Expenses</h2>

<OperationsListComponent TableTitle="@pageTitle" IsEarningsOperationsPage=@false></OperationsListComponent>

@code {
    public string pageTitle = "Expenses";
}